.hello {
    position: relative;
    background: $bgGrey;
    padding-bottom: 70px;

    &__title {
        font-family: 'Play';
        font-weight: 700;
        font-size: 48px;
        line-height: 52px;
        max-width: 400px;
        margin-top: 94px;
        text-transform: uppercase;
        letter-spacing: 1%;
    }

    &__description {
        font-size: 21px;
        line-height: 25px;
        max-width: 332px;
        margin-top: 22px;
    }

    &__button {
        margin-top: 36px;
    }

    &::after {
        content: "";
        position: absolute;
        top: 111px;
        right: 270px;
        background: url("../../img/headsets.png");
        height: 489px;
        width: 489px;


    }
}

.hello__advantage-list {
    display: flex;
    margin-top: 66px;

}

.hello__advantage-item {
    display: flex;
    margin-right: 8px;

    &:last-child {
        margin-right: 0;
    }
}

.hello__advantage-icon {
    margin-right: 12px;
}

.hello__advantage-text {
    width: 114px;
    font-family: 'Play';
}