html {
    font-size: $baseFontsize;
}

body,
html {
    height: 100%;
}

.section {
    height: 100vh;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    font-family: "Alegreya Sans", Helvetica, sans-serif;
    font-size: $baseFontsize;
    color: $text;
}

button {
    border: 0;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
}


.button {
    background-color: $buttonColor;
    border-radius: rem(100px);
    color: #FFFFFF;
    font-weight: 700;
    line-height: rem(18px);
    padding: rem(18px) rem(41px);
    letter-spacing: rem(2px);
    transition: 0.4s;

    @include tablets {
        padding: rem(21px) rem(41px);
    }

    &:hover {
        background: #FFFFFF;
        color: $buttonColor;
    }

    &--transparent {
        background: transparent;
        padding: 0;
        font-family: Play;

        &:hover {
            background: transparent;
            color: $buttonColor;
        }
    }
}

// }

.section-title {
    font-family: 'Play';
    font-weight: 700;
    font-size: rem(48px);
    line-height: rem(52px);
    text-transform: uppercase;
    letter-spacing: rem(2px);
}

* {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    display: block;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}


.container {
    width: 95%;
    margin: 0 auto;
    max-width: $containerWidth;
    height: 100%;

}

.wrapper {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.maincontent {
    height: 100%;
    transition: transform 1s;
    // will-change: transform;

}