body,
html {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    font-family: "Alegreya Sans", Helvetica, sans-serif;
    font-size: $baseFontsize;
    color: $text;
}

button {
    border: 0;
    cursor: pointer;
    padding: 0;
    background-color: transparent;


    &.button {
        background-color: $buttonColor;
        border-radius: 100px;
        color: #FFFFFF;
        font-weight: 700;
        line-height: 18px;
        font-size: 16px;
        padding: 18px 41px;
        transition: 0.4s;

        &:hover {
            background: #FFFFFF;
            color: $buttonColor;
        }

        &--transparent {
            background: transparent;
            padding: 0;
            font-family: Play;

            &:hover {
                background: transparent;
                color: $buttonColor;
            }
        }

    }


}


* {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    display: block;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}


.container {
    margin: 0 auto;
    width: $containerWidth;
    height: 100%;
}