.contacts {
    display: flex;

    &__address {
        font-family: 'Play';
        font-style: normal;
        font-size: 18px;

        @include tablets {
            font-size: 21px;
            line-height: 24px;
        }

        @include phones {
            font-size: 18px;
        }
    }

    &__phone {
        display: flex;
        align-items: center;
        font-size: rem(18px);
        font-family: 'Play';

        @include tablets {
            color: $buttonColor;
        }

        @include phones {
            color: $text;
            font-size: rem(16px);
        }

        // &::before {
        //     content: "";
        //     background: url(../img/phone\ handset.png);
        //     width: rem(13px);
        //     height: rem(13px);
        //     margin-right: rem(10px);
        // }


    }

    &--header .contacts__phone {
        @include tablets {
            display: none;
        }
    }

    &--footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include phones {
            gap: rem(12px);
        }

        & .contacts__icon {

            @include tablets {
                fill: $buttonColor;
            }

            @include phones {
                fill: $text;
            }
        }

        & .contacts__link {

            @include phones {
                display: flex;
                width: 100%;
                justify-content: center;
            }
        }
    }

    &__icon {
        height: 14px;
        width: 14px;
        margin-right: rem(10px);
    }
}