.header {
    display: flex;
    align-items: center;
    height: rem(64px);

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__contacts__phone {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background: url(../img/phone\ handset.png);
            width: rem(13px);
            height: rem(13px);
            margin-right: rem(10px);
            left: -13%;
            top: 49%;
            transform: translate(0, -50%)
        }

        @include tablets {
            display: none;
        }

        @include phones {
            display: none;
        }
    }

    // &__logo {
    //     // margin-right: 38px;
    // }

}

.menu {
    @include tablets {
        display: none;
    }

    @include phones {
        display: none;
    }
}

.menu__list {
    display: flex;
    align-items: center;
    gap: rem(27px);
    // margin-right: 46px;
}

.menu__item {
    // margin-right: rem(27px);
    line-height: rem(30px);
    font-weight: 400;
    font-size: rem(18px);

    &:last-child {
        margin-right: 0;
    }
}

.contacts {
    display: flex;
    align-items: center;

    &__icon {
        // width: rem(13px);
        // height: rem(13px);
        // margin-right: rem(10px);
    }

    &__phone {
        font-size: rem(18px);
        font-family: 'Play';
    }
}

.container--header {
    display: flex;
    align-items: flex-end;
}