.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;

    &__content {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 38px;
    }

}

.menu__list {
    display: flex;
    align-items: center;
    margin-right: 46px;
}

.menu__item {
    margin-right: 27px;
    line-height: 30px;
    font-weight: 400;
    font-size: 18px;

    &:last-child {
        margin-right: 0;
    }
}

.contacts {
    display: flex;
    align-items: center;

    &__icon {
        width: 13px;
        height: 13px;
        margin-right: 10px;
    }

    &__phone {
        font-size: 18px;
        font-family: 'Play';
    }
}

.container--header {
    display: flex;
    align-items: flex-end;
}