.hello {
    background: $bgGrey;

    &__description {
        font-size: rem(21px);
        line-height: rem(25px);
        max-width: rem(332px);
        margin-top: rem(22px);
    }

    &__button {
        margin-top: rem(36px);
    }

    &__content {
        margin-bottom: rem(50px);
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: -11%;
            right: -79%;
            background: url("../img/headsets.png");
            height: rem(489px);
            width: rem(489px);
        }
    }

    &__advantage-list {
        display: flex;
        margin-top: rem(66px);
    }

    &__advantage-item {
        display: flex;
        margin-right: rem(8px);

        &:last-child {
            margin-right: 0;
        }
    }

    &__advantage-icon {
        margin-right: rem(12px);
    }

    &__advantage-text {
        width: rem(114px);
        font-family: 'Play';
    }
}

.container--hello {
    display: flex;
    align-items: center;
    height: calc(100% - 64px);
}

.section-title--hello {
    max-width: rem(400px);
}