.hello {
    background: $bgGrey;

    &__description {
        display: flex;
        font-size: rem(21px);
        line-height: rem(25px);
        max-width: rem(332px);
        margin-top: rem(22px);

        @include tablets {
            max-width: rem(371px);
            text-align: center;
            margin-top: rem(8px);
        }

        @include phones {
            font-family: 'Play';
            font-size: 18px;
            line-height: 20px;
            max-width: 72%;
            margin-top: rem(10px);
        }
    }

    &__button {
        margin-top: rem(36px);

        @include tablets {
            margin-top: rem(23px);
        }

        @include phones {
            margin-top: rem(26px);
        }
    }

    &__content {
        margin-bottom: rem(50px);
        position: relative;

        @include tablets {
            display: flex;
            flex-direction: column;
            flex: 1;
            align-items: center;
            margin-top: 0.87rem;

            &::before {
                content: '';
                background: url("../img/headsets.png");
                background-size: contain;
                width: rem(323px);
                height: rem(323px);
            }

            // @include phones {
            //     display: flex;
            //     flex-direction: column;
            //     flex: 1;
            //     align-items: center;
            // }

        }

        &::after {
            content: "";
            position: absolute;
            background: url("../img/headsets.png");
            top: -11%;
            right: -79%;
            height: rem(489px);
            width: rem(489px);

            @include tablets {
                display: none;
            }
        }
    }

    &__advantage-item {
        display: flex;
        margin-right: rem(8px);

        &:last-child {
            margin-right: 0;
        }
    }

    &__advantage-icon {
        margin-right: rem(12px);
        width: rem(41px);
        height: rem(41px);
    }

    &__advantage-text {
        width: rem(114px);
        font-family: 'Play';
    }

    &__advantage-list {
        display: flex;
        margin-top: rem(66px);

        @include tablets {
            display: none;
        }

        @include phones {
            // display: none;
        }
    }

}

.container--hello {
    display: flex;
    align-items: center;
    height: calc(100% - 64px);
}

.section-title--hello {
    max-width: rem(400px);

    @include tablets {
        width: 100%;
        text-align: center;
        margin-top: rem(64px);
        max-width: 42rem;
        letter-spacing: 0;

    }

    @include phones {
        font-size: 32px;
        line-height: 36px;
        margin-top: rem(46px);
        max-width: 70%;
    }
}