.hello {
    background: $bgGrey;

    &__description {
        font-size: 21px;
        line-height: 25px;
        max-width: 332px;
        margin-top: 22px;
    }

    &__button {
        margin-top: 36px;
    }

    &__content {
        margin-bottom: 50px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: -11%;
            right: -79%;
            background: url("../img/headsets.png");
            height: 489px;
            width: 489px;
        }
    }

    &__advantage-list {
        display: flex;
        margin-top: 66px;
    }

    &__advantage-item {
        display: flex;
        margin-right: 8px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__advantage-icon {
        margin-right: 12px;
    }

    &__advantage-text {
        width: 114px;
        font-family: 'Play';
    }
}

.container--hello {
    display: flex;
    align-items: center;
    height: calc(100% - 64px);
}

.section-title--hello {
    max-width: 400px;
}