.modal {
    background-color: #FFFFFF;
    width: rem(309px);
    height: rem(176px);
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: rem(18px);
        align-items: center;
    }

    &__title {
        font-family: 'Play';
        font-size: rem(18px);
    }

    &__button {
        width: fit-content;

    }
}

.popup--modal {
    align-items: center;
    justify-content: center;
}