.why {
    height: 100vh;
    min-height: rem(650px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__subtitle {
        font-family: 'Play';
        font-weight: 400;
        // font-size: rem(16px);
        line-height: rem(19px);
        margin-top: rem(18px);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 22%;
    }

    &__benefits {
        display: flex;
        margin-top: rem(63px);
        text-align: center;
    }

    &__benefits-item {
        flex: 1;
        margin: 0 3%;
        padding: 0 rem(14px) 0 rem(15px);

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &:nth-child(2) {
            &>.why__benefit-icon {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    background: url(../img/Combined\ shape\ 2204.png);
                    width: rem(70px);
                    height: rem(24px);
                    right: -25%;
                    top: 55%;
                    transform: translate(0, -50%)
                }

                &::before {
                    content: "";
                    position: absolute;
                    background: url(../img/Combined\ shape\ 2204.png);
                    width: rem(70px);
                    height: rem(24px);
                    left: -25%;
                    top: 55%;
                    transform: translate(0, -50%)
                }
            }
        }
    }

    &__benefit-icon {
        display: flex;
        justify-content: center;
    }

    &__benefit-title {
        margin-top: rem(23px);
        font-family: 'Play';
        font-weight: 700;
        font-size: rem(24px);
        line-height: rem(28px);
    }

    &__benefit-text {
        margin-top: rem(7px);
        max-width: rem(247px);
        font-family: 'Play';
        line-height: rem(19px);
        text-align: center;
    }

    &__benefit-pic {
        position: relative;
        width: rem(128px);
        height: rem(128px);
        background: $bgGrey;
        border-radius: 50%;
        max-height: 100%;

        &>img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%)
        }
    }
}

.section-title--why {
    display: flex;
    justify-content: center;
}

.container--why {
    display: flex;
    align-items: center;
}