.why {
    height: 100vh;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Play';
        text-transform: uppercase;
        font-weight: 700;
        font-size: 48px;
        line-height: 52px;
        padding-top: 101px;
        letter-spacing: 1%;
    }

    &__subtitle {
        font-family: 'Play';
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-top: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 22%;
    }

    &__benefits {
        display: flex;
        margin-top: 63px;
        text-align: center;
        padding-bottom: 98px;
    }

    &__benefits-item {
        flex: 1;
        margin: 0 3%;
        padding: 0 14px 0 15px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &:nth-child(2) {
            &>.why__benefit-icon {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    background: url(../img/Combined\ shape\ 2204.png);
                    width: 70px;
                    height: 24px;
                    right: -25%;
                    top: 55%;
                    transform: translate(0, -50%)
                }

                &::before {
                    content: "";
                    position: absolute;
                    background: url(../img/Combined\ shape\ 2204.png);
                    width: 70px;
                    height: 24px;
                    left: -25%;
                    top: 55%;
                    transform: translate(0, -50%)
                }
            }
        }
    }

    &__benefit-icon {
        display: flex;
        justify-content: center;
    }

    &__benefit-title {
        margin-top: 23px;
        font-family: 'Play';
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
    }

    &__benefit-text {
        margin-top: 7px;
        max-width: 247px;
        font-family: 'Play';
        line-height: 19px;
        text-align: center;
    }

    &__benefit-pic {
        position: relative;
        width: 128px;
        height: 128px;
        background: $bgGrey;
        border-radius: 50%;
        max-height: 100%;

        &>img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%)
        }
    }
}