.why {
    height: 100vh;
    min-height: rem(650px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__subtitle {
        font-family: 'Play';
        font-weight: 400;
        line-height: rem(19px);
        margin-top: rem(18px);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 22%;

        @include tablets {
            margin-top: rem(11px);
            padding: 0 10%;

        }

        @include phones {
            padding: 0 1%;
        }
    }

    &__content {
        @include phones {
            margin-bottom: rem(21px);
        }
    }

    &__benefits {
        display: flex;
        margin-top: rem(63px);
        text-align: center;

        @include tablets {
            justify-content: space-between;
            margin-top: rem(54px);

        }

        @include phones {
            flex-direction: column;
            gap: rem(31px);
        }
    }

    &__benefits-item {
        flex: 1;
        margin: 0 3%;
        padding: 0 rem(14px) 0 rem(15px);

        @include tablets {
            margin: 0;
            padding: 0 rem(10px) 0 rem(10px);
        }

        @include phones {
            display: flex;
            padding: 0 rem(10px) 0 rem(5px);
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &:nth-child(2) {
            &>.why__benefit-icon {
                position: relative;

                @include desktopOnly {
                    &::after {
                        content: "";
                        position: absolute;
                        background: url(../img/Combined\ shape\ 2204.png);
                        width: rem(70px);
                        height: rem(24px);
                        right: -25%;
                        top: 55%;
                        transform: translate(0, -50%)
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        background: url(../img/Combined\ shape\ 2204.png);
                        width: rem(70px);
                        height: rem(24px);
                        left: -25%;
                        top: 55%;
                        transform: translate(0, -50%)
                    }
                }
            }
        }
    }

    &__benefit-icon {
        display: flex;
        justify-content: center;
    }

    &__benefit-svg {
        width: 100%;
        height: 100%;
    }

    &__benefit-title {
        margin-top: rem(23px);
        font-family: 'Play';
        font-weight: 700;
        font-size: rem(24px);
        line-height: rem(28px);

        @include phones {
            margin-top: rem(10px);
            text-align: left;
        }
    }

    &__benefit-text {
        margin-top: rem(7px);
        max-width: rem(247px);
        font-family: 'Play';
        line-height: rem(19px);
        text-align: center;

        @include tablets {
            margin-top: rem(16px);
        }

        @include phones {
            min-width: rem(302px);
            margin-top: rem(6px);
            text-align: left;
        }
    }

    &__benefit-pic {
        width: rem(128px);
        height: rem(128px);
        background: $bgGrey;
        border-radius: 50%;
        max-height: 100%;
    }

    &__benefits-content {

        @include phones {
            display: flex;
            flex-direction: column;
            margin-left: rem(7px);
        }
    }


    .section-title--why {
        display: flex;
        justify-content: center;

        @include tablets {
            letter-spacing: 0;
        }

        @include phones {
            font-size: 32px;
            line-height: 36px;
        }
    }

    .container--why {
        display: flex;
        align-items: center;
    }
}