html {
  font-size: 16px;
}

body,
html {
  height: 100%;
}

.section {
  height: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: "Alegreya Sans", Helvetica, sans-serif;
  font-size: 16px;
  color: #292929;
}

button {
  border: 0;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
}
button.button {
  background-color: #E01F3D;
  border-radius: 6.25rem;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 1.125rem;
  padding: 1.125rem 2.5625rem;
  letter-spacing: 0.125rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media (max-width: 768px) {
  button.button {
    padding: 1.3125rem 2.5625rem;
  }
}
button.button:hover {
  background: #FFFFFF;
  color: #E01F3D;
}
button.button--transparent {
  background: transparent;
  padding: 0;
  font-family: Play;
}
button.button--transparent:hover {
  background: transparent;
  color: #E01F3D;
}

.section-title {
  font-family: "Play";
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.25rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 940px;
  height: 100%;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.header__contacts__phone {
  position: relative;
}
.header__contacts__phone::before {
  content: "";
  position: absolute;
  background: url(../img/phone\ handset.png);
  width: 0.8125rem;
  height: 0.8125rem;
  margin-right: 0.625rem;
  left: -13%;
  top: 49%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
@media (max-width: 768px) {
  .header__contacts__phone {
    display: none;
  }
}
@media (max-width: 480px) {
  .header__contacts__phone {
    display: none;
  }
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
}
@media (max-width: 480px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.6875rem;
}

.menu__item {
  line-height: 1.875rem;
  font-weight: 400;
  font-size: 1.125rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__phone {
  font-size: 1.125rem;
  font-family: "Play";
}

.container--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hello {
  background: #F5F5F5;
}
.hello__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  max-width: 20.75rem;
  margin-top: 1.375rem;
}
@media (max-width: 768px) {
  .hello__description {
    max-width: 23.1875rem;
    text-align: center;
    margin-top: 0.5rem;
  }
}
@media (max-width: 480px) {
  .hello__description {
    font-family: "Play";
    font-size: 18px;
    line-height: 20px;
    max-width: 72%;
    margin-top: 0.625rem;
  }
}
.hello__button {
  margin-top: 2.25rem;
}
@media (max-width: 768px) {
  .hello__button {
    margin-top: 1.4375rem;
  }
}
@media (max-width: 480px) {
  .hello__button {
    margin-top: 1.625rem;
  }
}
.hello__content {
  margin-bottom: 3.125rem;
  position: relative;
}
@media (max-width: 768px) {
  .hello__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0.87rem;
  }
  .hello__content::before {
    content: "";
    background: url("../img/headsets.png");
    background-size: contain;
    width: 20.1875rem;
    height: 20.1875rem;
  }
}
.hello__content::after {
  content: "";
  position: absolute;
  background: url("../img/headsets.png");
  top: -11%;
  right: -79%;
  height: 30.5625rem;
  width: 30.5625rem;
}
@media (max-width: 768px) {
  .hello__content::after {
    display: none;
  }
}
.hello__advantage-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0.5rem;
}
.hello__advantage-item:last-child {
  margin-right: 0;
}
.hello__advantage-icon {
  margin-right: 0.75rem;
}
.hello__advantage-text {
  width: 7.125rem;
  font-family: "Play";
}
.hello__advantage-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4.125rem;
}
@media (max-width: 768px) {
  .hello__advantage-list {
    display: none;
  }
}
.container--hello {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100% - 64px);
}

.section-title--hello {
  max-width: 25rem;
}
@media (max-width: 768px) {
  .section-title--hello {
    width: 100%;
    text-align: center;
    margin-top: 4rem;
    max-width: 42rem;
    letter-spacing: 0;
  }
}
@media (max-width: 480px) {
  .section-title--hello {
    font-size: 32px;
    line-height: 36px;
    margin-top: 2.875rem;
    max-width: 70%;
  }
}

.why {
  height: 100vh;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.why__subtitle {
  font-family: "Play";
  font-weight: 400;
  line-height: 1.1875rem;
  margin-top: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 22%;
}
@media (max-width: 768px) {
  .why__subtitle {
    margin-top: 0.6875rem;
    padding: 0 10%;
  }
}
@media (max-width: 480px) {
  .why__subtitle {
    padding: 0 1%;
  }
}
@media (max-width: 480px) {
  .why__content {
    margin-bottom: 1.3125rem;
  }
}
.why__benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.9375rem;
  text-align: center;
}
@media (max-width: 768px) {
  .why__benefits {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 3.375rem;
  }
}
@media (max-width: 480px) {
  .why__benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.9375rem;
  }
}
.why__benefits-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 3%;
  padding: 0 0.875rem 0 0.9375rem;
}
@media (max-width: 768px) {
  .why__benefits-item {
    margin: 0;
    padding: 0 0.625rem 0 0.625rem;
  }
}
@media (max-width: 480px) {
  .why__benefits-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 0.625rem 0 0.3125rem;
  }
}
.why__benefits-item:first-child {
  margin-left: 0;
}
.why__benefits-item:last-child {
  margin-right: 0;
}
.why__benefits-item:nth-child(2) > .why__benefit-icon {
  position: relative;
}
@media (min-width: 769px) {
  .why__benefits-item:nth-child(2) > .why__benefit-icon::after {
    content: "";
    position: absolute;
    background: url(../img/Combined\ shape\ 2204.png);
    width: 4.375rem;
    height: 1.5rem;
    right: -25%;
    top: 55%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .why__benefits-item:nth-child(2) > .why__benefit-icon::before {
    content: "";
    position: absolute;
    background: url(../img/Combined\ shape\ 2204.png);
    width: 4.375rem;
    height: 1.5rem;
    left: -25%;
    top: 55%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}
.why__benefit-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.why__benefit-title {
  margin-top: 1.4375rem;
  font-family: "Play";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
}
@media (max-width: 480px) {
  .why__benefit-title {
    margin-top: 0.625rem;
    text-align: left;
  }
}
.why__benefit-text {
  margin-top: 0.4375rem;
  max-width: 15.4375rem;
  font-family: "Play";
  line-height: 1.1875rem;
  text-align: center;
}
@media (max-width: 768px) {
  .why__benefit-text {
    margin-top: 1rem;
  }
}
@media (max-width: 480px) {
  .why__benefit-text {
    min-width: 18.875rem;
    margin-top: 0.375rem;
    text-align: left;
  }
}
.why__benefit-pic {
  position: relative;
  width: 8rem;
  height: 8rem;
  background: #F5F5F5;
  border-radius: 50%;
  max-height: 100%;
}
.why__benefit-pic > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (max-width: 480px) {
  .why__benefits-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0.4375rem;
  }
}
.why .section-title--why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 768px) {
  .why .section-title--why {
    letter-spacing: 0;
  }
}
@media (max-width: 480px) {
  .why .section-title--why {
    font-size: 32px;
    line-height: 36px;
  }
}
.why .container--why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .reviews section {
    height: 61rem;
  }
}

.reviews__display-inner {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F5F5F5;
  padding: 2.625rem 6.6875rem 2.625rem 2.625rem;
  overflow: hidden;
  position: relative;
}
@media (max-width: 768px) {
  .reviews__display-inner {
    padding: 3.5rem 1.4375rem 0.9375rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.reviews__display-inner::before {
  content: "";
  position: absolute;
  display: block;
  width: 4.625rem;
  height: 4.625rem;
  background: #fff;
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -3.25rem;
}
.reviews__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reviews__avatar-top {
  -o-object-fit: cover;
     object-fit: cover;
  widows: 15.8125rem;
  height: 16.5rem;
}
@media (max-width: 768px) {
  .reviews__avatar-top {
    width: 8.125rem;
    height: 8.125rem;
  }
}
.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.reviews__content-title {
  font-family: "Play";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-top: 2rem;
  margin-left: 2.375rem;
  letter-spacing: 0.0625rem;
}
@media (max-width: 768px) {
  .reviews__content-title {
    margin: 0;
    margin-top: 2rem;
  }
}
.reviews__content-text {
  margin-left: 2.375rem;
  font-family: "Play";
  line-height: 1.1875rem;
  margin-top: 1.6875rem;
}
@media (max-width: 768px) {
  .reviews__content-text {
    margin: 0;
    margin-top: 1rem;
  }
}
.reviews__content-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Play";
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  margin-top: 2.375rem;
  margin-left: 2.375rem;
}
@media (max-width: 768px) {
  .reviews__content-name {
    margin: 0;
    margin-top: 2.1875rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.reviews__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.375rem;
  margin-top: 0.9375rem;
}
@media (max-width: 768px) {
  .reviews__user {
    margin-top: 3.6875rem;
  }
}
.reviews__user-button {
  border-radius: 50%;
  overflow: hidden;
  width: 4.625rem;
  height: 4.625rem;
  border: 0.25rem solid transparent;
}
.reviews__user-button:hover {
  border: 0.25rem solid #E01F3D;
}
.reviews__user-item--active > button {
  border: 0.25rem solid #E01F3D;
}
.reviews__user-icon {
  width: 100%;
  height: 100%;
}

.container--reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-title--reviews {
  text-align: center;
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../img/bg.png) 90% 76% no-repeat;
  background-size: cover;
  color: #FFFFFF;
}

.container--order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form {
  margin-top: 55px;
}
@media (max-width: 768px) {
  .form {
    margin-top: 1.25rem;
  }
}
.form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .form__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.form__col {
  width: 50%;
}
.form__col--right {
  width: 48%;
}
@media (max-width: 768px) {
  .form__col {
    width: 100%;
    padding: 0 18%;
  }
}
.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.75rem;
}
.form__row:first-child {
  margin-bottom: 0;
}
.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.75rem;
}
@media (max-width: 768px) {
  .form__block {
    margin-right: 0;
  }
  .form__block:not(:last-child) {
    margin-right: 0.75rem;
  }
}
.form__input-title {
  display: block;
  font-family: Play;
  line-height: 100%;
}
.form__input {
  width: 100%;
  border: none;
  padding: 1.125rem 0.75rem;
  border: solid 0.1875rem transparent;
  border-radius: 0.25rem;
  margin-top: 0.375rem;
}
@media (max-width: 768px) {
  .form__input {
    padding: 0.5rem 0.5625rem;
  }
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}
.form__input-textarea {
  height: 9.5rem;
  width: 100%;
  resize: none;
}
@media (max-width: 768px) {
  .form__input-textarea {
    height: 5.125rem;
  }
}
.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -1rem;
  margin-top: 0.625rem;
}
@media (max-width: 768px) {
  .form__controls {
    margin-left: 0;
    margin-right: 1.125rem;
    max-width: 80%;
    margin-top: 1.375rem;
  }
}
.form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  margin-top: 3rem;
  margin-left: 29.625rem;
}
@media (max-width: 768px) {
  .form__button {
    margin-left: 1.3rem;
    margin-top: 2.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
  margin-top: 1.1875rem;
}
@media (max-width: 768px) {
  .radio {
    margin: 0;
    margin-right: 1.125rem;
  }
}
.radio__title {
  margin-left: 0.625rem;
  font-family: Play;
  display: block;
}
.radio__elm {
  display: none;
}
.radio__elm:checked ~ .radio__visible::before {
  display: block;
}
.radio__visible {
  position: relative;
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 50%;
  background: #FFFFFF;
}
.radio__visible::before {
  content: "";
  position: absolute;
  width: 0.8125rem;
  height: 0.8125rem;
  background: #E01F3D;
  display: none;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.radio__visible--checkbox {
  border-radius: 0.1875rem;
}
.radio__visible--checkbox::before {
  background: url(../img/Vector\ \(5\).png) center center no-repeat;
}
@media (max-width: 768px) {
  .radio--checkbox {
    margin-top: 1.1875rem;
  }
}
.radio__checkbox {
  border-radius: 0;
}

.section-title--order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0;
}

.fixed-menu {
  position: fixed;
  z-index: 1;
  top: 15.4375rem;
  right: 13.75rem;
}
.fixed-menu__item {
  margin-bottom: 0.9375rem;
  background-color: #292929;
  opacity: 0.6;
  border-radius: 50%;
}
.fixed-menu__item--active {
  position: relative;
  background-color: #E01F3D;
  opacity: 1;
}
.fixed-menu__item--active:before {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0625rem solid #E01F3D;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.fixed-menu__link {
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  display: block;
  position: relative;
}